<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" />
    <link rel="alternate" type="application/json" href="/feed.json" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header class="section" class="darken-1">
        <div class="container">
            <h3 class="white-text">saebr demo site</h3>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li{{if .Latest}} class="active"{{end}}><a href="/">Latest post</a></li>
                    <li{{if eq .Key.Name "index"}} class="active"{{end}}><a href="/index">Index</a></li>
                    <li{{if eq .Key.Name "item1"}} class="active"{{end}}><a href="/item1">Item1</a></li>
                    <li{{if eq .Key.Name "item2"}} class="active"{{end}}><a href="/item2">Item2</a></li>
                    <li{{if eq .Key.Name "item3"}} class="active"{{end}}><a href="/item3">Item3</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-nav">
        <li><a href="/">Latest post</a></li>
        <li><a href="/index">Index</a></li>
        <li><a href="/item1">Item1/a></li>
        <li><a href="/item2">Item2</a></li>
        <li><a href="/item3">Item3</a></li>
    </ul>
    <article class="section">
        <div class="container">
            <p>{{if .Published }}
                <a href="https://your-domain-name.dev/{{.Key.Name}}" class="right">
                    Permalink <i class="material-icons right">link</i>
                </a>
            {{end}}
            {{if not .Created.IsZero}}
                Published {{.Created.Format "2 January 2006"}}{{if .Edited}}, edited {{.LastModified.Format "2 January 2006"}}{{end}}
            {{end}}
            </p>
            <h1>{{.Title}}</h1>
            <div style="max-width:66ex">
                {{.ContentsHTML}}
            </div>
        </div>
    </article>
    <footer class="page-footer darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About</h5>
                    <p>
                        This is a demo implementation of a basic blog using
                        <a href="https://github.com/DrJosh9000/saebr">saebr</a>.
                    </p>
                </div>
                <div class="col l3 m6 s12">
                    <h5 class="white-text">Stuff</h5>
                </div>
                <div class="col l3 m6 s12">
                    <h5 class="white-text">More stuff</h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made with <a href="https://github.com/DrJosh9000/saebr">saebr</a>.
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>

</html>